<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kino Kvikkjokk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="Static/dist/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <h1 class="header__logo-title"></h1>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item" id="header__menu"></li>
          <li class="header__nav-item" id="header__children-movies"></li>
          <li class="header__nav-item" id="header__events"></li>
          <li class="header__nav-item" id="header__about-us"></li>
          <li class="header__nav-item" id="header__login"></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <div class="main__singleMovieWrapper">
        <div class="main__poster">
          <img src="{{poster}}" class="moviePoster" />
        </div>
        <div class="main__movieInfo">
          <h1 class="title">{{title}}</h1>
          <p class="description">{{description}}</p>
          <a href="{{imdb}}" target="_blank"><img src="Static/assets/images/icons/imdb.png" class="imdbLogo" /></a>
          <a class="backBTN" href="/">Back</a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__social">
        <h3 class="footer__social-title"></h3>
        <a class="footer__social-twitter" href="https://x.com/">
          <img src="Static/assets/images/icons/icons-twitter-white-512.png" alt="New Twitter Icon" />
        </a>
        <a class="footer__social-instagram" href="https://www.instagram.com/">
          <img src="Static/assets/images/icons/icons-instagram-white-512.png" alt="Instagram Icon" />
        </a>
        <a class="footer__social-youtube" href="https://www.youtube.com/">
          <img src="Static/assets/images/icons/icons-youtube-white-512.png" alt="Youtube Icon" />
        </a>
        <a class="footer__social-linkedin" href="https://www.linkedin.com/">
          <img src="Static/assets/images/icons/icons-linkedin-white-512.png" alt="LinkedIn Icon" />
        </a>
      </div>
      <div class="footer__contact">
        <h3 class="footer__contact-title"></h3>
        <h6 class="footer__contact-info"></h6>
        <h6 class="footer__contact-number"></h6>
        <h6 class="footer__contact-mail1"></h6>
        <h6 class="footer__contact-mail2"></h6>
      </div>
      <div class="footer__find-Us">
        <h3 class="footer__find-Us-title"></h3>
        <h6 class="footer__find-Us-streetname"></h6>
        <h6 class="footer__find-Us-postalcode"></h6>
        <h6 class="footer__find-Us-country"></h6>
      </div>
      <div class="footer__partners">
        <h3 class="footer__partners-title"></h3>
      </div>
    </footer>

    <script src="Static/Script/main.js"></script>
    <script src="Static/Script/ReplaceBackgroundKidsCinema.js"></script>
    <script src="Static/Script/moviePage.js"></script>
  </body>
</html>
